body{
    background-color: whitesmoke;
}

#wrapper {
    width: 1500px
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke
    
}

header{
    background-color: black;
    background-image: url(webimgs/02bannerr.jpg)
    background-repeat: no-repeat;
    background-position: center;
}