body{
    background-color: whitesmoke;
}

#wrapper {
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
}

header{
    background-image: url(webimgs/02bannerr.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 70%;
    background: linear-gradient(90deg, (#ffffff 32.94%, #ffffff 36.87%, rgba(0, 0, 0, 0.00) 44.95%, rgba(0, 0, 0, 0) 100%),
             url("webimgs/02bannerr.jpg") no-repeat center/70%,
             #362020
    
    padding:2em;
                 
}

.banner-text{
    font-size: 1.2rem;
    width: 30%;
    color: white;
}

.btn {
    display:block;
    background-color: grey;
    color: white;
    padding: 10px;
    border-radius:  10px;
    width: 5em;
    text-align: center;
    text-decoration: solid;
    text-transform: lowercase;
}